.App {
  text-align: center;
}
button{
    background-color: rgba(255, 255, 0, 0.0);
    border: transparent;
    font-size: inherit;
}
.test{
    margin: 2vh auto;
    min-width: 12rem;
    line-height: 3rem;
    background: linear-gradient(to left, #282c34 10%, rgb(9, 83, 121) 30%,  rgb(9, 83, 121) 70%, #282c34 90%);
    position:relative;
    anchor-name: --center;
}
.test:before{
    content: "";
    position: absolute;
    left: 0%;
    top: -8%;
    width: 100%;
    height: 100%;
    box-sizing: content-box;
    border: 4px solid #282c34;
    background: linear-gradient(to bottom, #282c34 5%, rgba(255, 255, 0, 0.0) 30%, rgba(255, 255, 0, 0.0) 70%, #282c34 95%);
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.catfact{
    font-size: small;
    font-family: 'Comic Sans', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:rgb(238, 210, 31);
    position: absolute;
    position-anchor: --center;
  bottom: anchor(top);
  left:anchor(left);
  transform: rotate(-24deg) translate(24rem, 2rem);

}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
