/* style under development,, working but need to be well organized and optgit addimized */

*{
    --noData_border: 0.3rem inset rgba(0, 0, 0, 0.5);
    --rightData_border: 0.3rem inset rgba(0, 255, 0, 0.5);
    --wrongData_border: 0.3rem inset rgba(255, 0, 0, 0.5);
    --panels_border: 0.08rem outset rgba(159, 159, 159, 0.5);
    --buttons_color: #575858;
    --buttons_text: #b3b3b3;
    --button-size:88px;
    --background-patterns: center repeat border-box;
    /* --controlled-width:20px; */
}

@font-face {
    font-family: 'digital';
    src: url("./res/font/digital-7.ttf");
}
@font-face {
    font-family: 'Anita semi square';
    src: url("./res/font/Anita semi square.ttf")
}

 window{
    width: 25cm;
} 


body{
    height:100vh;
    padding: 0px 0px;
    margin: 0px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: var(--background-patterns);
    background-image: url('./res/safe_texture.png');
}

article{
    display: grid;
    grid-template-columns: 3.2fr 1.2fr;
    column-gap:  clamp(2vw, 100px, 2rem);
    max-width: clamp(80vw, 640px, 80rem);
    padding: 0.3rem 1rem;
    margin: 0% auto 10%;
    text-align: center;
    min-height: fit-content;
    background: var(--background-patterns);
    background-image: url('./res/safe_texture.png');
}
article >*{
    margin: 0.5rem 0rem;
    padding: 0px;
    display: inline-block;
    align-content: center;
    overflow-wrap: break-word;
    font-family: 'Anita semi square';
    font-size:small;
}



#alternative{
    display: block;
    min-height: 1rem;
    outline: 1px solid red;
}
#alternative.hidden{
    display: none;
}

script{
    display: none;
}
*:focus{
    outline: 0px solid #1f1f1f;
}

input{
    border-radius: 20%;
    width: -webkit-fill-available;
    background-color: #1f1f1f;
    font-family: 'digital';
    text-align: center;
    color: red;
}

#img{
    border-radius: 0% 10% 10% 0%;
    anchor-name: --selector;

}

#inputs{
    padding: 0% 0.4rem;
    grid-column: 1;
    display:flex;
    flex-flow: column nowrap;
}

#inputs input{
    box-sizing: border-box;
    flex-basis: 100%;
}
#run{
    display: flex;
    justify-content: center;
    align-items: center;
    > *{
        margin: 0px 0.4rem;
    }
}

h4{
    grid-column: 1/ span 2;
    border: var(--panels_border);
    border-radius: 0.5rem;
    background: var(--background-patterns);
    background-image: url('./res/panel_texture.png');
    line-height: 1.6rem;
    font-size: medium;
}


#choosed{
    grid-column: 2;
    display: flex;
    min-height: 92%;
    max-width: 36vw;
    aspect-ratio: 1.1 / 1;
    padding: 0.4rem 0.2rem;
    margin: 0% auto;
    justify-content: center;
    align-items: center; 
}

#double{
    display:grid;
    width: 104%;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
        "a1 b"
        "a2 c";
    column-gap: 1.6rem;
    row-gap: 0.8rem;
    align-items: baseline;
    > .panels{
    padding-right: 1.6rem ;
    }
    > .panels.name{
        grid-area: a1;
    }
    > .panels.length{
        grid-area: a2;
    }
    > .overlayed{
        display: inline;
        width: 84%;
        max-height: fit-content;
    }
     #name{
        grid-area: b;
    }
     #length{
        grid-area: c;
    }
}

.panels{
  background: var(--background-patterns);
    background-image: url('./res/panel_texture.png');
    border: var(--panels_border);
    min-width: 92%;
    padding: 4%;
    padding-right: 3.2rem ;
    margin: 0rem 0.4rem 0.8rem 0rem;
    text-align: left;
/*     p{
        margin: 0.4rem 0rem;
    } */
}




.overlayed{ position:relative; font-family: 'digital'; }
.overlayed:before{
    content: "";
    position:absolute;
    bottom: 0px;
    left: 0.5%;
    background-image: url("./res/overlay.png");
    width: 100%;
    height: 100%;
    /* border-radius: 24%; */
    filter: contrast(120%) opacity(20%);
    background-repeat: no-repeat;
    background-size:100% 100%;
    pointer-events: none;
}
.overlayed:has(>#img):before{
    left: var(--button-size);
    display:inline-block;
    width: calc(var(--controlled-width) + 3px);
    z-index: 2;
}
#img:after{
    content:"";
    display: inline-block;
    border: var(--noData_border);
    width: var(--controlled-width);
    height: 0.8rem;
    border-radius: 0% 10% 10% 0%;
    position-anchor: --selector;
    position: absolute;
    top: anchor(top);
    right:anchor(right);
    z-index: 1;
}

input::file-selector-button{
    border: var(--panels_border);
    border-width: 0.20rem;
    background: var(--background-patterns);
    background-color: var(--buttons_color); 
    background-image: url('./res/button_texture.png');
    font-family: 'Anita semi square';
    font-size:0.8rem;
    width: var(--button-size);
}
#submit{
    border: var(--panels_border);
    border-width: 0.20rem;
    border-radius: 5%;
    background: var(--background-patterns);
    background-color: var(--buttons_color); 
    background-image: url('./res/button_texture.png');
    font-family: 'Anita semi square';
    font-size:0.8rem;
    line-height: 100%;
} 

.field{
    display: flex;
    gap: 0.8rem;
}
.fields *{
    width: 12rem;
    text-align: center;
}
.field input{
    border-radius: 20%;
    width:inherit;
    background-color: #1f1f1f;
    font-family: 'digital';
    text-align: center;
    color: red;
}
.field .length{
    width: 4rem;
}

#monitor{
    display: flex;
    min-width: 82%;
    max-width: 15rem;
    aspect-ratio: 1/1;
    background-color: #1f1f1f;
    color: red;
    border-radius: 45%;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
#preview{
    display:inline-block;
    aspect-ratio: 1/1 ;
    object-fit: cover;
}
/* per nasconedere l'icona 'immagine mancante' bisogna nascondere tutto l'elemento img*/
 #preview:not([src]){
    display: none;
} 

.noData{border: var(--noData_border);}
.rightData{border: var(--rightData_border);}
.wrongData{border: var(--wrongData_border);}


dialog{
    display: none;
}
dialog::backdrop{
    background:repeating-linear-gradient(135deg, rgba(107,107,107,0.4) 14%, rgba(235,51,36,0.4) 15%, rgba(235,51,36,0.4) 20%, rgba(107,107,107,0.4) 21%, rgba(107,107,107,0.4) 30% );
}
dialog[open]{
 color: firebrick;
 font-family: 'intruction';
 font-weight: 600;
 border: var(--wrongData_border);
 background-color:#1f1f1f;
}

@media screen and (max-width: 700px){
     window{
        width: 96vw;
    } 
    body {
        display: block;
        max-width: 88vw;
    }
    #double{
        grid-template-areas: 
            "a1 a2"
            "b c";
        margin: 4% auto 4%;
    }
    .panels{
        min-width: 80%;
        height: 64%;
        margin: 0px auto;
        margin-bottom: 1rem;
    }
    article{
        grid-template-columns: 1fr;
    }
    article >#double{
        margin-bottom: 0rem;
        max-width: fit-content;
        display: block;
    }
    #double .panels{
        padding-right: 0rem;
        max-width: fit-content;
    }
    label{
        display:flex;
        flex-wrap: wrap;
    }
    .output{
    flex-basis: 100%;
    min-height: 0.8rem;
    }
    h4{
       /*  grid-column: 1; */
        width: 100%;
    }
    #inputs{
    align-items: center;
    border-radius: 0.5rem;

    }
    #choosed{
    min-width: 56vw;
    text-align: center;
    padding-right: 0.3rem;
    }
    .field{
    width: 5rem;
    }
    #double{
    display:grid;
    width: 104%;
    grid-template-rows: min-content;

    column-gap: 1.6rem;
    align-items: baseline;

    > {
        width: 84%;
        max-height: fit-content;
    }

    }
}
